{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}


{% block body %}
	<!-- Insert this where you want the table to appear -->
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>Ville</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<th>Olréans</th>
				</tr>
				<tr>
					<th>2</th>
					<th>Paris</th>
				</tr>
			</tbody>
		</table>
	</div>	
{% endblock %}
